.blog-home
    margin-top: 50

.home-title 
    font-size: title-size
    text-align: center;
    margin: 20px auto;
.index-subtitle
    font-size: subtitle-size
.home-list 
    li 
        padding: 10px 0;
        a
            text-decoration: none;
            color: #000;